.home-page-content {
  margin-left: 220px; /* Adjust to match the expanded width of the left sidebar */
  margin-right: 220px; /* Adjust to match the expanded width of the right sidebar */
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  background-repeat: no-repeat;
}

.arcade-info {
  background-color: rgba(97, 96, 96, 0.8); /* Slight transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add margin-top to push it down */
}

.arcade-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.arcade-info p {
  margin-bottom: 5px;
}

.arcade-info .rating {
  font-size: 18px;
  margin-top: 10px;
}

.arcade-info .more-info {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 15px;
  background-color: #adabab;
  color: rgb(7, 6, 6);
  text-decoration: none;
  border-radius: 5px;
}
