/* HomePage.css */

/* Default styles for larger screens */
.home-page-content {
  margin-left: 220px; /* Adjust to match the expanded width of the left sidebar */
  margin-right: 220px; /* Adjust to match the expanded width of the right sidebar */
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  background-repeat: no-repeat;
}

.arcade-info {
  background-color: rgba(157, 157, 157, 0.8); /* Maintain slight transparency */
}

/* Mobile View Adjustments */
@media only screen and (max-width: 600px) {
  .home-page-content {
    margin-left: 20px; /* Reduced margin for mobile view */
    margin-right: 20px; /* Reduced margin for mobile view */
    margin-top: 70px; /* Adjust top margin to avoid obstruction by the title bar */
    padding: 5px; /* Smaller padding to fit content */
  }

  .arcade-info {
    background-color: rgba(157, 157, 157, 0.8); /* Maintain slight transparency */
    padding: 15px; /* Slightly reduce padding for mobile */
    margin-top: 15vh; /* Adjust top margin for spacing */
    font-size: 16px; /* Reduce font size for better fit */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .arcade-info h2 {
    font-size: 20px; /* Adjust font size for mobile */
  }

  .arcade-info p,
  .arcade-info .rating {
    font-size: 16px; /* Adjust paragraph and rating font size */
  }

  .arcade-info .more-info {
    padding: .2vh 1vw; /* Increase padding for a more button-like feel */
    background-color: #007bff; /* Use a primary color for the button */
    color: white; /* White text for contrast */
    text-decoration: none; /* Remove underline */
    border-radius: 10px; /* Rounded corners for a button look */
    border: 1px solid #007bff; /* Add a border */
    font-size: 1.2rem; /* Adjust font size for better readability */
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
  }

  .arcade-info .more-info:hover {
    background-color: #0056b3; /* Darken the button color on hover */
    color: #e2e6ea; /* Lighten the text color on hover */
  }

  .stars {
    margin-top: 10px; /* Adjust spacing for stars */
  }

  .filled-star, .empty-star {
    font-size: 30px; /* Adjust star size for mobile */
  }
}
