/* RightSideBar.css */

/* Base styles (applies to larger screens, no changes here) */
.right-sidebar {
  z-index: 999;
  padding-top: 15vw;
  background-color: var(--bar-background-color);
  width: 90px; /* Retracted width on larger screens */
  height: 100vh; /* Full height */
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden; /* Hide overflow */
}

.right-sidebar.expanded {
  width: 200px; /* Expanded width on larger screens */
}

/* Mobile View Adjustments */
@media only screen and (max-width: 600px) {
  .right-sidebar {
    width: 10%; /* Retracted width on mobile screens */
    height: calc(100vh - 50px); /* Full height minus the title bar height */
    top: 50px; /* Position just below the title bar */
   
  }


  .right-sidebar.expanded {
    width: 30%; /* Expanded width on mobile screens */
    color: white;
  }

  .auth-buttons {
    margin-top: 30px; /* Push content down further so it’s not obstructed */
  }

  .auth-buttons button,
  .auth-buttons input {
    width: 100%; /* Buttons and inputs take full width within the sidebar */
  }
}
